{% extends "movie_web/base.html" %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'seatStyle.css'%}">
<script src="{% static 'my_admin/bower_components/jquery/dist/jquery.min.js'%}"></script>
{% endblock %}

{% block main_body %}   

     <!-- Content Header (Page header) -->
    <section class="content-header" style="color: #5372fb;font-weight: bold; font-style: italic;">
        <h4>
            {{movie_name}}
            Room: {{room_id}}
        </h4>
        <h4>
            {{release_time}}
        </h4>
    </section>

            <div style="width:850px;margin: auto auto;">
                <span id='screen'>
                 <p>
                    Screen
                </p>
                </span>
                <!-- <div id="seats">
                    {% for row in rows %}
                    <div class="seatsRaw">
                        {% for column in columns %}
                        <div class="seat"></div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div> -->

                <div id="seats">
                    {% for row in seat_list %}
                    <div class="seatsRaw">
                        {% for seat in row %}
                        {% if seat.is_available == 1 %}
                        <div class="seat occupied"></div>
                        {% else %}
                        <div class="seat"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
    
                  <div id="booking_desc">
                    <div class="booking_left">
                        <p style="color: #FBBC53;font-weight: bold; font-size: larger;">Selected Seats </p>
                        <div id="selected_seat"></div>
                        <br>
                        <button id="bookButton" type="button" style="color: #d953fb;">Book</button>
                        <div id="errMsg"></div>
                    </div>
    
                    <div class="booking_right">Ticket Price: {{ price }}
                        <br><br>
                        <div id="total">Total Cost：<span> 0 </span></div>
                    </div>
                 </div>
            </div>
        
            <script>
                $(document).ready(function(){
                
                                var seat_num ;
                                var total_cost      = 0 ;
                                var pricePerTicked  = {{ price }};
                                var maximumSeats    = 4;
                
                                $('#bookButton').hide(); // Hide the book button
                
                                $('.seat').each(function() {       
                                    var column_num = parseInt( $(this).index() ) + 1;
                                    var row_num = parseInt( $(this).parent().index() )+1;    
                                    seat_num = row_num+"-"+column_num ;  
                                    $(this).text(seat_num); // seat number
                                    $(this).addClass("seat"+seat_num); //add css
                                    if($(this).hasClass('occupied')){
                                        $(this).css('background-color','#FF0000'); // this seat has been occupied
                                    }
                                });
                
                                $("#seats .seat").click(function() {  
                                        $('#errMsg').html('');
                                        if($(this).hasClass('select')){ // check slected
                                            $(this).removeClass('select'); //remove css
                                            $(this).css('background-color','#D8D8D8'); // reload adding css
                
                                            var currentSeatClass = $(this).attr('class').split(' ')[1]; 
                
                                            console.log(currentSeatClass);
                                             $( "#selected_seat ."+currentSeatClass ).remove();
                
                                        }else if($(this).hasClass('occupied')){

                                        }else if($(".your_selected_seat").length<maximumSeats && !$(this).hasClass('select')){ // check number of seats
                                            $(this).css('background-color','#71DCAA'); // add color
                                            $(this).addClass("select"); // add css
                
                
                                            var column_num = parseInt( $(this).index() ) + 1;
                                            var row_num = parseInt( $(this).parent().index() )+1;    
                                            $( "#selected_seat" ).append("<span class='your_selected_seat seat"+row_num+"-"+column_num+" '> Seat Number: <b style='color:#EAABFF'>" + row_num+"-"+column_num +"</b> </br></span>");
                                        }else {
                                            $('#errMsg').html('Your selection is over the limit.');    
                                        }
                
                                        if($(".your_selected_seat").length){
                                            $('#bookButton').fadeIn(1000);
                                        }else {
                                            $('#bookButton').fadeOut(1000);
                                        }
                                        //Get total cost
                                        total_cost = $(".your_selected_seat").length * pricePerTicked;
                                        $('#total > span').html(total_cost);
                                });
            
                });
            </script>
    

{% endblock %}